body {
	text-align: left;
	font-family: Consolas,monaco,monospace;
	font-size: 14px;
	background-color: lightpink;
}

#head1 {
	color: red;
}

.content {
	color: magenta;
}

h3 {
	color: deeppink;
}

.navzone, a, li {
	color: mediumvioletred;
	font-style: italic;
}

.prose, .extreme {
	color: maroon;
}