h1, h2, h3 {
	color: midnightblue;
	text-align: center;
}

a {
	color: skyblue;
	font-family: Consolas,monaco,monospace;
}

a:hover {
	background-color: black;
	color: white;
	font-style: italic;
}

p {
	text-align: center;
	font-family: Consolas,monaco,monospace;
	color: steelblue;
}