ul, a {
	color: royalblue;
	list-style-position: inside;
	padding-right: 20px;
}

a:hover {
	background-color: navy;
	color: powderblue;
	font-style: italic;
}

body {
	text-align: center;
	font-family: Consolas,monaco,monospace;
	font-size: 14px;
	background-color: powderblue;
	text-transform: lowercase;
}

.extreme {
	color: navy;
	letter-spacing: 2px;
}

.prose {
	color: steelblue;
}

.navzone, .content {
 	color: #3399ff;
}

h2, h3 {
	letter-spacing: 2px;
	text-shadow: 2px 2px 1px navy;
}