ul, a {
	color: royalblue;
}

a:hover {
	background-color: navy;
	color: powderblue;
	font-style: italic;
}

body {
	text-align: center;
	font-family: Consolas,monaco,monospace;
	font-size: 14px;
	background-color: powderblue;
}

.extreme {
	color: navy;
}

.prose {
	color: steelblue;
}

.navzone, .content {
 	color: #3399ff;
}